body {
	background: #00a37d;
	font-family: helvetica;
	margin: 0;
}

p {
	margin: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
 	padding: 0;
 	overflow: hidden;
 	background-color: #007a5e;
}

li {
	float: left;
	font-size: 1.25em;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #006b52;
}

table {
	margin-top: 10px;
	width: 100%;
}

table, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

table th {
    background-color: #b3b3b3;
}

table tr.online:nth-child(odd) {
	background-color: #b3b3b3;
}

table tr.online:nth-child(even) {
	background-color: #e6e6e6;
}

.offline {background-color: #f73b3b;}


